<html>
    <head>
        <link rel='stylesheet' type='text/css' href='css/styles.css'/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type='text/javascript' src='javascript/scraper.js'></script>
    </head>
    <body>
        <div id='data'>
        </div>
    </body>
</html>