body {
    background-color: rgb(0, 22, 62)!important;
}

div {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.container {
    padding-bottom: 100px;
}
.center {
    text-align: center;
}

#title {
    margin-bottom: 80px;
}

#title h1 {
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    color: white;
    font-size: 140px;
    margin-bottom: -20px;
}

#title h3 {
    margin-top: 0;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(186, 0,0);
}


#title h5 {
    margin-top: -10px;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.user input {
    height: 100px;
    font-size: 50px;
    line-height: 80px;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-align: center;
}

input:focus {
    border:none;
    outline: none;
}
.user1 input {
    color: rgb(50, 92, 175);
}

.user2 input {
    color: rgb(186, 0,0);
}

.vs h2 {
    line-height: 80px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;
    color: white;
    margin: 0px;
}


.fight {
    font-color: #ED1C24;    
}

#submit {
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 80px;
    padding: 20px 20px;
    background: rgb(250, 195, 0);
    line-height: 100px;
    font-size: 70px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#loading {
    line-height: 80px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    color: white;
    margin: 0px;
}

.processing-container h5 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
}



.processing-container span {
    margin-right: 10px;
    margin-left: 0;
}

#submit div {
    font-size: 20px;
    line-height: 20px;
}


.graph {
    height: 80px;
    display: inline-block;
    margin: 10px 0;
}

.label {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 30px;
    margin-bottom: 0px;
}

.graph h3 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 70px;
    line-height: 60px;
}
.graph_1 {
    float: left;
    width: 59%;
    background: rgb(50, 92, 175);
}

.graph_1 h3 {
    float: left;
    margin-left: 10px;
}

.graph_2 {
    float: right;
    width: 39%;
    background: rgb(186, 0,0);
}

.graph_2 h3 {
    float: right;
    margin-right: 10px;
}

.graph span {
    font-size: 40px;
    float: left;
}


.score h3 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 70px;
    line-height: 60px;
}

.score h2 {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-size: 100px;
    line-height: 100px;
    clear: both;
}

.twitter {
    margin-top: 40px;
    margin-bottom: 20px;
}

.twitter h5 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    display: inline;
    position: relative;
    bottom: 5px;
}
.twitter iframe {
    display: inline;
}

#retry {
    margin: auto;
    font-family: 'Titillium Web', sans-serif;
    padding: 20px 20px;
    background: rgb(250, 195, 0);
    line-height: 100px;
    font-size: 80px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.winner-container {
    margin-top: -50px!important;
}
